.Home {
  width: 500px;
  margin: 48px 48px 48px 48px;
}

.Home-intro {
  font-size: 1.6em;
}

.Home-title {
  font-size: 2.2em;
}

.Home-text {
  font-size: 1.2em;
}

.Home-buttons {
  margin-top: 8px;
}

.Home-buttons button {
  border-radius: 16px;
  color: black;
  padding: 8px 16px 8px 16px;
  margin: 8px;
  font-size: 1em;
}

.Home-buttons button:hover {
  cursor: pointer;
}

.Email {
  border: 1px solid #AAAAAA;
  background-color: #AAAAAA;
}

.Resume {
  border: 1px solid #A4EBF3;
  background-color: #A4EBF3;
}
