.Nav {
  margin: 8px;
  padding: 8px;
}

.Nav-link {
  margin: 8px;
  padding: 8px;
  display: inline-block;
}

.Nav-link a {
  font-weight: bold;
  color: black;
  text-decoration: none;
  border-bottom: 2px solid black;
}
